blinker==1.9.0
clarabel==0.10.0
click==8.1.8
cvxpy==1.6.4
et_xmlfile==2.0.0
Flask==3.1.0
itsdangerous==2.2.0
Jinja2==3.1.6
MarkupSafe==3.0.2
Mosek==11.0.13
numpy==2.2.4
openpyxl==3.1.5
osqp==0.6.7.post3
pandas==2.2.3
python-dateutil==2.9.0.post0
pytz==2025.1
qdldl==0.1.7.post5
scipy==1.15.2
scs==3.2.7.post2
six==1.17.0
tzdata==2025.1
jax==0.6.2
