<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Name of Our Tool </title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
    <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
</head>
<body>
<div class="container mt-5">
    <h1 class="text-center">Name of Our Tool (also in title)</h1>
    <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item">
            <a class="nav-link active" id="lp-tab" data-toggle="tab" href="#lp" role="tab" aria-controls="lp"
               aria-selected="true">LP</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="qp-tab" data-toggle="tab" href="#qp" role="tab" aria-controls="qp"
               aria-selected="false">QP</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="sdp-tab" data-toggle="tab" href="#sdp" role="tab" aria-controls="sdp"
               aria-selected="false">SDP</a>
        </li>
    </ul>
    <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="lp" role="tabpanel" aria-labelledby="lp-tab">
            <div class="card mt-4">
                <div class="card-body">
                    <h5 class="card-title">Linear Program</h5>
                    <form id="lp-form" action="/solve" method="post">
                        <div class="form-group">
                            <label for="lp-options">Select Option:</label>
                            <select id="lp-options" class="form-control" name="option" onchange="updateLatexText('lp')">
                                <option value="robust" {% if request.form.option=="robust" %}selected{% endif %}>
                                    Robust
                                </option>
                                <option value="robust-regularization" {% if request.form.option=='robust-regularization'
                                        %}selected{% endif %}>Robust + Regularization
                                </option>
                                <option value="robust-relaxation" {% if request.form.option=='robust-relaxation'
                                        %}selected{% endif %}>Robust + Relaxation
                                </option>
                                <option value="robust-regularization-relaxation" {% if
                                        request.form.option=='robust-regularization-relaxation' %}selected{% endif %}>
                                    Robust + Regularization + Relaxation
                                </option>
                            </select>
                        </div>
                        <div id="lp-latex" class="form-group">
                            <div class="text-center">
                                <p>\(\displaystyle\min_{\theta} c^\top\theta\)</p>
                                <p>subject to</p>
                                <p>\(A\theta+b \leq 0\)</p>
                                <p>\(A(\delta_i)\theta+b(\delta_i) \leq 0, \quad i = 1, \ldots, N\)</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-2">
                                <div class="form-group">
                                    <label for="lp-c">\(c\):</label>
                                    <button type="button" class="btn btn-secondary btn-block"
                                            onclick="openMatrixModal('lp','c')">Edit \(c\)
                                    </button>
                                    <input type="hidden" id="lp-c" name="c" data-shared="true"
                                           value="{{ request.form.c }}">
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group">
                                    <label for="lp-A_d">\(A(\delta)\):</label>
                                    <button type="button" class="btn btn-secondary btn-block"
                                            onclick="openMatrixModal('lp','A_d')">Edit \(A(\delta)\)
                                    </button>
                                    <input type="hidden" id="lp-A_d" name="A_d" data-shared="true"
                                           value="{{ request.form.A_d }}">
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group">
                                    <label for="lp-b_d">\(b(\delta)\):</label>
                                    <button type="button" class="btn btn-secondary btn-block"
                                            onclick="openMatrixModal('lp','b_d')">Edit \(b(\delta)\)
                                    </button>
                                    <input type="hidden" id="lp-b_d" name="b_d" data-shared="true"
                                           value="{{ request.form.b_d }}">
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group">
                                    <label for="lp-A">\(A\):</label>
                                    <button type="button" class="btn btn-secondary btn-block"
                                            onclick="openMatrixModal('lp','A')">Edit \(A\)
                                    </button>
                                    <input type="hidden" id="lp-A" name="A" data-shared="true"
                                           value="{{ request.form.A }}">
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group">
                                    <label for="lp-b">\(b\):</label>
                                    <button type="button" class="btn btn-secondary btn-block"
                                            onclick="openMatrixModal('lp','b')">Edit \(b\)
                                    </button>
                                    <input type="hidden" id="lp-b" name="b" data-shared="true"
                                           value="{{ request.form.b }}">
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group" id="lp-tau-group" style="display: none;">
                                    <label for="lp-tau">\(\tau\):</label>
                                    <input type="text" id="lp-tau" class="form-control" name="tau" data-shared="true"
                                           value="{{ request.form.tau }}">
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group" id="lp-theta-bar-group" style="display: none;">
                                    <label for="lp-theta-bar">\(\bar{\theta}\):</label>
                                    <input type="text" id="lp-theta-bar" class="form-control" name="theta_bar"
                                           data-shared="true"
                                           value="{{ request.form.theta_bar }}">
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group" id="lp-p-group" style="display: none;">
                                    <label for="lp-p">\(p\):</label>
                                    <input type="text" id="lp-p" class="form-control" name="p" data-shared="true"
                                           value="{{ request.form.p }}">
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group" id="lp-rho-group" style="display: none;">
                                    <label for="lp-rho">\(\rho\):</label>
                                    <input type="text" id="lp-rho" class="form-control" name="rho" data-shared="true"
                                           value="{{ request.form.rho }}">
                                </div>
                            </div>
                        </div>
                        <input type="hidden" name="active_tab" value="lp-tab">
                    </form>
                </div>
            </div>
        </div>
        <div class="tab-pane fade" id="qp" role="tabpanel" aria-labelledby="qp-tab">
            <div class="card mt-4">
                <div class="card-body">
                    <h5 class="card-title">Quadratic Program</h5>
                    <form id="qp-form" action="/solve" method="post">
                        <div class="form-group">
                            <label for="qp-options">Select Option:</label>
                            <select id="qp-options" class="form-control" name="option" onchange="updateLatexText('qp')">
                                <option value="robust" {% if request.form.option=="robust" %}selected{% endif %}>
                                    Robust
                                </option>
                                <option value="robust-regularization" {% if request.form.option=='robust-regularization'
                                        %}selected{% endif %}>Robust + Regularization
                                </option>
                                <option value="robust-relaxation" {% if request.form.option=='robust-relaxation'
                                        %}selected{% endif %}>Robust + Relaxation
                                </option>
                                <option value="robust-regularization-relaxation" {% if
                                        request.form.option=='robust-regularization-relaxation' %}selected{% endif %}>
                                    Robust + Regularization + Relaxation
                                </option>
                            </select>
                        </div>
                        <div id="qp-latex" class="form-group">
                            <div class="text-center">
                                <p>\(\displaystyle\min_{\theta} c^\top\theta + \frac{1}{2}\theta^\top Q\theta\)</p>
                                <p>subject to</p>
                                <p>\(A\theta+b \leq 0\)</p>
                                <p>\(A(\delta_i)\theta+b(\delta_i) \leq 0, \quad i = 1, \ldots, N\)</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-2">
                                <div class="form-group">
                                    <label for="qp-c">\(c\):</label>
                                    <button type="button" class="btn btn-secondary btn-block"
                                            onclick="openMatrixModal('qp','c')">Edit \(c\)
                                    </button>
                                    <input type="hidden" id="qp-c" name="c" data-shared="true"
                                           value="{{ request.form.c }}">
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group">
                                    <label for="qp-A_d">\(A(\delta)\):</label>
                                    <button type="button" class="btn btn-secondary btn-block"
                                            onclick="openMatrixModal('qp', 'A_d')">Edit \(A(\delta)\)
                                    </button>
                                    <input type="hidden" id="qp-A_d" name="A_d" data-shared="true"
                                           value="{{ request.form.A_d }}">
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group">
                                    <label for="qp-b_d">\(b(\delta)\):</label>
                                    <button type="button" class="btn btn-secondary btn-block"
                                            onclick="openMatrixModal('qp', 'b_d')">Edit \(b(\delta)\)
                                    </button>
                                    <input type="hidden" id="qp-b_d" name="b_d" data-shared="true"
                                           value="{{ request.form.b_d }}">
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group">
                                    <label for="qp-A">\(A\):</label>
                                    <button type="button" class="btn btn-secondary btn-block"
                                            onclick="openMatrixModal('qp', 'A')">Edit \(A\)
                                    </button>
                                    <input type="hidden" id="qp-A" name="A" data-shared="true"
                                           value="{{ request.form.A }}">
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group">
                                    <label for="qp-b">\(b\):</label>
                                    <button type="button" class="btn btn-secondary btn-block"
                                            onclick="openMatrixModal('qp', 'b')">Edit \(b\)
                                    </button>
                                    <input type="hidden" id="qp-b" name="b" data-shared="true"
                                           value="{{ request.form.b }}">
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group">
                                    <label for="qp-Q">\(Q\):</label>
                                    <button type="button" class="btn btn-secondary btn-block"
                                            onclick="openMatrixModal('qp', 'Q')">Edit \(Q\)
                                    </button>
                                    <input type="hidden" id="qp-Q" name="Q" data-shared="true"
                                           value="{{ request.form.Q }}">
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group" id="qp-tau-group" style="display: none;">
                                    <label for="qp-tau">\(\tau\):</label>
                                    <input type="text" id="qp-tau" class="form-control" name="tau" data-shared="true"
                                           value="{{ request.form.tau }}">
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group" id="qp-theta-bar-group" style="display: none;">
                                    <label for="qp-theta-bar">\(\bar{\theta}\):</label>
                                    <input type="text" id="qp-theta-bar" class="form-control" name="theta_bar"
                                           data-shared="true"
                                           value="{{ request.form.theta_bar }}">
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group" id="qp-p-group" style="display: none;">
                                    <label for="qp-p">\(p\):</label>
                                    <input type="text" id="qp-p" class="form-control" name="p" data-shared="true"
                                           value="{{ request.form.p }}">
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group" id="qp-rho-group" style="display: none;">
                                    <label for="qp-rho">\(\rho\):</label>
                                    <input type="text" id="qp-rho" class="form-control" name="rho" data-shared="true"
                                           value="{{ request.form.rho }}">
                                </div>
                            </div>
                        </div>
                        <input type="hidden" name="active_tab" value="qp-tab">
                    </form>
                </div>
            </div>
        </div>
        <div class="tab-pane fade" id="sdp" role="tabpanel" aria-labelledby="sdp-tab">
            <div class="card mt-4">
                <div class="card-body">
                    <h5 class="card-title">Semidefinite Program</h5>
                    <form id="sdp-form" action="/solve" method="post">
                        <div class="form-group">
                            <label for="sdp-options">Select Option:</label>
                            <select id="sdp-options" class="form-control" name="option"
                                    onchange="updateLatexText('sdp')">
                                <option value="robust" {% if request.form.option=="robust" %}selected{% endif %}>
                                    Robust
                                </option>
                                <option value="robust-regularization" {% if request.form.option=='robust-regularization'
                                        %}selected{% endif %}>Robust + Regularization
                                </option>
                                <option value="robust-relaxation" {% if request.form.option=='robust-relaxation'
                                        %}selected{% endif %}>Robust + Relaxation
                                </option>
                                <option value="robust-regularization-relaxation" {% if
                                        request.form.option=='robust-regularization-relaxation' %}selected{% endif %}>
                                    Robust + Regularization + Relaxation
                                </option>
                            </select>
                        </div>
                        <div id="sdp-latex" class="form-group">
                            <div class="text-center">
                                <p>\(\displaystyle\min_{\theta} c^\top\theta + \frac{1}{2}\theta^\top Q\theta\)</p>
                                <p>subject to</p>
                                <p>\(A\theta+b \leq 0\)</p>
                                <p>\(A(\delta_i)\theta+b(\delta_i) \leq 0, \quad i = 1, \ldots, N\)</p>
                                <p>\(Q\succeq 0\)</p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="sdp-c">\(c\):</label>
                            <input type="text" id="sdp-c" class="form-control" name="c" data-shared="true"
                                   value="{{ request.form.c }}">
                        </div>
                        <div class="form-group">
                            <label for="sdp-A">\(A(\delta)\):</label>
                            <input type="text" id="sdp-A" class="form-control" name="A" data-shared="true"
                                   value="{{ request.form.A }}">
                        </div>
                        <div class="form-group">
                            <label for="sdp-b">\(b(\delta)\):</label>
                            <input type="text" id="sdp-b" class="form-control" name="b" data-shared="true"
                                   value="{{ request.form.b }}">
                        </div>
                        <div class="form-group">
                            <label for="sdp-Q">\(Q\):</label>
                            <input type="text" id="sdp-Q" class="form-control" name="Q" data-shared="true"
                                   value="{{ request.form.Q }}">
                        </div>
                        <div class="form-group" id="sdp-tau-group" style="display: none;">
                            <label for="sdp-tau">\(\tau\):</label>
                            <input type="text" id="sdp-tau" class="form-control" name="tau" data-shared="true"
                                   value="{{ request.form.tau }}">
                        </div>
                        <div class="form-group" id="sdp-theta-bar-group" style="display: none;">
                            <label for="sdp-theta-bar">\(\bar{\theta}\):</label>
                            <input type="text" id="sdp-theta-bar" class="form-control" name="theta_bar"
                                   data-shared="true"
                                   value="{{ request.form.theta_bar }}">
                        </div>
                        <div class="form-group" id="sdp-p-group" style="display: none;">
                            <label for="sdp-p">\(p\):</label>
                            <input type="text" id="sdp-p" class="form-control" name="p" data-shared="true"
                                   value="{{ request.form.p }}">
                        </div>
                        <div class="form-group" id="sdp-rho-group" style="display: none;">
                            <label for="sdp-rho">\(\rho\):</label>
                            <input type="text" id="sdp-rho" class="form-control" name="rho" data-shared="true"
                                   value="{{ request.form.rho }}">
                        </div>
                        <input type="hidden" name="active_tab" value="sdp-tab">
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-md-6">
            <div class="form-group">
                <form id="solver-form" action="/solve" method="post">
                    <label for="confidence">Confidence \(\beta\):</label>
                    <input type="text" id="confidence" class="form-control" name="confidence" data-shared="true"
                           value="{{ request.form.confidence }}">
                    <label for="solver">Solver:</label>
                    <select class="form-control" id="solver" name="solver">
                        {% for solver in solvers %}
                        <option value="{{ solver }}" {% if solver== request.form.solver %}selected{% endif %}>{{ solver
                            }}
                        </option>
                        {% endfor %}
                    </select>
                </form>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <form id="upload-form" action="/upload" method="post" enctype="multipart/form-data">
                        <h5 class="card-title">Scenarios \((\delta_1, \delta_2, \ldots)\)</h5>
                        <input type="file" name="file" id="file" class="form-control-file">
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="text-right mt-4">
        <button class="btn btn-success" onclick="solve()">Solve</button>
    </div>
    <div class="card mt-4">
        <div class="card-body">
            <h5 class="card-title">Result</h5>
            <div id="result-box" class="border p-3">
                {% if result %}
                <p>Form Data: {{ result[0] }} </p>
                <p>Optimal x: {{ result[1] }} </p>
                <p>Optimal s: {{ result[2] }} </p>
                <p>Optimal cost: {{ result[3] }} </p>
                {% else %}
                <p>No result yet.</p>
                {% endif %}
            </div>
        </div>
    </div>
</div>

<div class="modal" id="matrixModal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="matrixModalTitle">Edit Matrix</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p></p>
                <h6><b>Enter Manually:</b></h6>
                <div id="matrixGrid" class="d-flex flex-wrap"></div>
                <div class="mt-3">
                    <label for="matrixRows">Rows:</label>
                    <input type="number" id="matrixRows" class="form-control d-inline-block" style="width: 80px;"
                           min="1" value="2">
                    <label for="matrixColumns" class="ml-3">Columns:</label>
                    <input type="number" id="matrixColumns" class="form-control d-inline-block" style="width: 80px;"
                           min="1" value="2">
                    <button class="btn btn-primary ml-3" onclick="updateMatrixGrid()">Resize</button>
                    <p></p>
                    <h6><b>OR:</b></h6>
                    <input type="file" name="modal-file" id="modal-file" class="form-control-file">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" onclick="saveMatrix()">Save</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script src="./main.js" defer></script>

<script>
    let currentMatrix = '';

    function openMatrixModal(tab, matrix) {
        currentMatrix = `${tab}-${matrix}`;
        const matrixInput = document.getElementById(currentMatrix);
        let matrixValues;

        document.getElementById('modal-file').value = '';
        // Set default dimensions based on the matrix
        if (matrix === 'A_d') {
            matrixValues = matrixInput.value ? JSON.parse(matrixInput.value) : [[0, 0]]; // 1 row, 2 columns
            document.getElementById('matrixRows').value = matrixValues.length;
            document.getElementById('matrixColumns').value = matrixValues[0].length;
            document.getElementById('matrixColumns').disabled = false; // Disable column input to prevent changes
            updateMatrixGrid(matrixValues);
            document.getElementById('matrixModalTitle').textContent = `Edit A(\\(\\delta)\\) (${tab.toUpperCase()})`;
            document.querySelector('#matrixModal .modal-body p').innerHTML = `<u>Top tip:</u> ${getDynamicTip(matrix)}`;
            MathJax.typesetPromise();
            $('#matrixModal').modal('show');
        } else if (matrix === 'b_d') {
            matrixValues = matrixInput.value ? JSON.parse(matrixInput.value) : [[0]]; // 1 row, 1 column
            document.getElementById('matrixRows').value = matrixValues.length;
            document.getElementById('matrixColumns').value = matrixValues[0].length;
            document.getElementById('matrixColumns').disabled = true; // Disable column input to prevent changes
            updateMatrixGrid(matrixValues);
            document.getElementById('matrixModalTitle').textContent = `Edit b(\\(\\delta)\\) (${tab.toUpperCase()})`;
            document.querySelector('#matrixModal .modal-body p').innerHTML = `<u>Top tip:</u> ${getDynamicTip(matrix)}`;
            MathJax.typesetPromise();
            $('#matrixModal').modal('show');
        } else if (matrix === 'c') {
            matrixValues = matrixInput.value ? JSON.parse(matrixInput.value) : [[0], [0]]; // 1 row, 1 column
            document.getElementById('matrixRows').value = matrixValues.length;
            document.getElementById('matrixColumns').value = matrixValues[0].length;
            document.getElementById('matrixColumns').disabled = true; // Disable row input to prevent changes
            updateMatrixGrid(matrixValues);
            document.getElementById('matrixModalTitle').textContent = `Edit c (${tab.toUpperCase()})`;
            document.querySelector('#matrixModal .modal-body p').innerHTML = `<u>Top tip:</u> ${getDynamicTip(matrix)}`;
            MathJax.typesetPromise();
            $('#matrixModal').modal('show');
        } else if (matrix === 'Q') {
            matrixValues = matrixInput.value ? JSON.parse(matrixInput.value) : [[0, 0], [0, 0]]; // 2x2 by default
            document.getElementById('matrixRows').value = matrixValues.length;
            document.getElementById('matrixColumns').value = matrixValues[0].length;
            document.getElementById('matrixColumns').disabled = false; // Disable column input to prevent changes
            updateMatrixGrid(matrixValues);
            document.getElementById('matrixModalTitle').textContent = `Edit Q (${tab.toUpperCase()})`;
            document.querySelector('#matrixModal .modal-body p').innerHTML = `<u>Top tip:</u> ${getDynamicTip(matrix)}`;
            MathJax.typesetPromise();
            $('#matrixModal').modal('show');

        } else if (matrix === 'A') {
            matrixValues = matrixInput.value ? JSON.parse(matrixInput.value) : [[0, 0]]; // 2x2 by default
            document.getElementById('matrixRows').value = matrixValues.length;
            document.getElementById('matrixColumns').value = matrixValues[0].length;
            document.getElementById('matrixColumns').disabled = false; // Disable column input to prevent changes
            updateMatrixGrid(matrixValues);
            document.getElementById('matrixModalTitle').textContent = `Edit A (${tab.toUpperCase()})`;
            document.querySelector('#matrixModal .modal-body p').innerHTML = `<u>Top tip:</u> ${getDynamicTip(matrix)}`;
            $('#matrixModal').modal('show');
        } else if (matrix === 'b') {
            matrixValues = matrixInput.value ? JSON.parse(matrixInput.value) : [[0]]; // 1 row, 1 column
            document.getElementById('matrixRows').value = matrixValues.length;
            document.getElementById('matrixColumns').value = matrixValues[0].length;
            document.getElementById('matrixColumns').disabled = true; // Disable row input to prevent changes
            updateMatrixGrid(matrixValues);
            document.getElementById('matrixModalTitle').textContent = `Edit b (${tab.toUpperCase()})`;
            document.querySelector('#matrixModal .modal-body p').innerHTML = `<u>Top tip:</u> ${getDynamicTip(matrix)}`;
            $('#matrixModal').modal('show');
        }
    }

    function getDynamicTip(matrix) {
        if (matrix === 'A_d') {
            return "<i>Use delta[0] for \\(\\delta_1\\), delta[1] for \\(\\delta_2\\), etc.</i> The matrix can accept any SymPy expressions, e.g., with +, -, *, /, **.  You may manually create the matrix of constraints or upload the constraints using the 'Upload from File' button, accepted formats are .csv, .txt, .json.";
        } else if (matrix === 'b_d') {
            return "<i>Use delta[0] for \\(\\delta_1\\), delta[1] for \\(\\delta_2\\), etc.</i> The vector can accept any SymPy expressions, e.g., with +, -, *, /, **. You may manually create the matrix of constraints or upload the constraints using the 'Upload from File' button, accepted formats are .csv, .txt, .json.";
        } else if (matrix === 'Q') {
            return "<i>Ensure Q is a symmetric and positive semi-definite matrix.</i> You may manually create the matrix or upload using the 'Upload from File' button, accepted formats are .csv, .txt, .json.";
        } else if (matrix === 'c') {
            return "You may manually create the vector or upload using the 'Upload from File' button, accepted formats are .csv, .txt, .json.";
        } else if (matrix === 'A') {
            return "You may manually create the matrix or upload using the 'Upload from File' button, accepted formats are .csv, .txt, .json.";
        } else if (matrix === 'b') {
            return "You may manually create the vector or upload using the 'Upload from File' button, accepted formats are .csv, .txt, .json.";
        }
        return "Provide valid input for the selected matrix.";
    }

    function updateMatrixGrid(values = null) {
        const rows = parseInt(document.getElementById('matrixRows').value);
        const columns = parseInt(document.getElementById('matrixColumns').value);
        const grid = document.getElementById('matrixGrid');

        grid.innerHTML = ''; // Clear the grid

        for (let i = 0; i < rows; i++) {
            const rowDiv = document.createElement('div'); // Create a div for each row
            rowDiv.className = 'matrix-row'; // Add a class for styling

            for (let j = 0; j < columns; j++) {
                const input = document.createElement('input');
                input.type = 'text';
                input.className = 'form-control d-inline-block';
                input.style.width = '120px';
                input.value = values && values[i] && values[i][j] !== undefined ? values[i][j] : 0;
                input.dataset.row = i;
                input.dataset.column = j;
                rowDiv.appendChild(input); // Append input to the row div
            }

            grid.appendChild(rowDiv); // Append the row div to the grid
        }
    }

    function saveMatrix() {
        const rows = parseInt(document.getElementById('matrixRows').value);
        const columns = parseInt(document.getElementById('matrixColumns').value);
        const grid = document.getElementById('matrixGrid');
        const fileInput = document.getElementById('modal-file');
        const values = Array.from({length: rows}, () => Array(columns).fill(0));

        // Check if a file is uploaded
        if (fileInput.files.length > 0) {
            const file = fileInput.files[0];
            const reader = new FileReader();

            reader.onload = function (event) {
                try {
                    const fileExtension = file.name.split('.').pop().toLowerCase();
                    let fileValues;

                    if (fileExtension === 'json') {
                        fileValues = JSON.parse(event.target.result);
                    } else if (fileExtension === 'csv' || fileExtension === 'txt') {
                        const text = event.target.result;
                        const rows = text.trim().split('\n');
                        fileValues = rows.map(row => row.split(','));
                    } else {
                        throw new Error('Unsupported file type');
                    }

                    document.getElementById(currentMatrix).value = JSON.stringify(fileValues);
                    $('#matrixModal').modal('hide');
                } catch (error) {
                    alert('Invalid file format. Please upload a valid JSON, CSV, or TXT file.');
                }
            };

            reader.readAsText(file); // Read the file content
        } else {
            // Save manually entered values
            Array.from(grid.querySelectorAll('input')).forEach(input => {
                const row = parseInt(input.dataset.row);
                const column = parseInt(input.dataset.column);
                values[row][column] = input.value; // Save text value
            });

            document.getElementById(currentMatrix).value = JSON.stringify(values);
            $('#matrixModal').modal('hide');
        }
    }

    function solve() {
        const activeTab = document.querySelector('.nav-link.active').id;
        let formId;
        if (activeTab === 'lp-tab') {
            formId = 'lp-form';
        } else if (activeTab === 'qp-tab') {
            formId = 'qp-form';
        } else if (activeTab === 'sdp-tab') {
            formId = 'sdp-form';
        }

        const activeForm = document.getElementById(formId);
        const formData = new FormData(activeForm);

        //Add solver form data
        const solverForm = document.getElementById('solver-form');
        const solverData = new FormData(solverForm);
        for (const [key, value] of solverData.entries()) {
            formData.append(key, value);
        }

        const fileInput = document.getElementById('file');
        if (fileInput && fileInput.files.length > 0) {
            formData.append('file', fileInput.files[0]);
        }

        fetch(activeForm.action, {
            method: activeForm.method,
            body: formData
        })
            .then(response => response.json())
            .then(data => {
                const resultBox = document.getElementById('result-box');
                resultBox.innerHTML = `
    <div class="result-container">
        <ul class="nav nav-tabs" id="resultTab" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" id="result-table-tab" data-toggle="tab" href="#result-table" role="tab" aria-controls="result-table" aria-selected="true">Results Table</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="result-graph-tab" data-toggle="tab" href="#result-graph" role="tab" aria-controls="result-graph" aria-selected="false">Graph</a>
            </li>
        </ul>
        <div class="tab-content" id="resultTabContent">
            <div class="tab-pane fade show active" id="result-table" role="tabpanel" aria-labelledby="result-table-tab">
                <h3>Optimization Results</h3>
                <table class="result-table">
                    <tr>
                        <th>Parameter</th>
                        <th>Value</th>
                    </tr>
                    <tr>
                        <td><strong>Optimal Cost</strong></td>
                        <td><strong>${data.optimal_cost}</strong></td>
                    </tr>
                    <tr>
                        <td><strong>Optimal &theta; </strong></td>
                        <td><strong>${data.optimal_x.join(', ')}</strong></td>
                    </tr>
                    <tr>
                        <td><strong>Optimal  &zeta; </strong></td>
                        <td><strong>${data.optimal_s.join(', ')}</strong></td>
                    </tr>
                    <tr>
                        <td><strong>Risk</strong></td>
                        <td><strong>${data.risk}</strong></td>
                    </tr>
                    <tr>
                        <td><strong>Confidence</strong></td>
                        <td><strong>${data.conf}</strong></td>
                    </tr>
                    <tr>
                        <td><strong>Support Set Size</strong></td>
                        <td><strong>${data.active_con}</strong></td>
                    </tr>
                    <tr>
                        <td><strong>Number of data samples</strong></td>
                        <td><strong>${data.num_deltas}</strong></td>
                    </tr>
                    <tr>
                        <td><strong>Total Constraints</strong></td>
                        <td><strong>${data.tot_con}</strong></td>
                    </tr>
                    <tr>
                        <td><strong>Relaxation Parameters &rho;</strong></td>
                        <td><strong>${data.rho_}</strong></td>
                    </tr>
                    <tr>
                        <td><strong>Regularization Parameters &tau;</strong></td>
                        <td><strong>${data.tau_}</strong></td>
                    </tr>
                    <tr>
                        <td><i>Error</i></td>
                        <td><i>${data.errorcode}</i></td>
                    </tr>
                    <tr>
                        <td>Form Data</td>
                        <td>${JSON.stringify(data.form_data)}</td>
                    </tr>
                </table>
            </div>
            <div class="tab-pane fade" id="result-graph" role="tabpanel" aria-labelledby="result-graph-tab">
                <h3>Graph</h3>
                <canvas id="resultGraph" width="400" height="300"></canvas>
            </div>
        </div>
    </div>
`;

                const ctx = document.getElementById('resultGraph').getContext('2d');
                new Chart(ctx, {
                    type: 'line', // Example graph type
                    data: {
                        labels: data.optimal_x.map((_, index) => `x${index + 1}`),
                        datasets: [{
                            label: 'Optimal \( \theta \)',
                            data: data.optimal_x,
                            borderColor: 'rgba(75, 192, 192, 1)',
                            borderWidth: 2,
                            fill: false
                        }]
                    },
                    options: {
                        responsive: true,
                        scales: {
                            x: {
                                title: {
                                    display: true,
                                    text: 'Variables'
                                }
                            },
                            y: {
                                title: {
                                    display: true,
                                    text: 'Values'
                                }
                            }
                        }
                    }
                });
                // Trigger MathJax to render
                MathJax.typesetPromise();
            })
            .catch(error => console.error('Error:', error));
    }

    function updateLatexText(tab) {
        const option = document.getElementById(`${tab}-options`).value;
        let latexText1 = '';
        let latexText2 = '';
        let latexText3 = '';
        let latexText4 = '';

        // Show/Hide relevant input fields
        document.getElementById(`${tab}-tau-group`).style.display = 'none';
        document.getElementById(`${tab}-theta-bar-group`).style.display = 'none';
        document.getElementById(`${tab}-rho-group`).style.display = 'none';
        document.getElementById(`${tab}-p-group`).style.display = 'none';

        if (tab === 'lp') {
            if (option === 'robust') {
                latexText1 = '\\displaystyle\\min_{\\theta} c^\\top\\theta';
                latexText2 = 'A(\\delta_i)\\theta+b(\\delta_i) \\leq 0, \\quad i = 1, \\ldots, N';
                latexText4 = 'A\\theta+b \\leq 0';
            } else if (option === 'robust-regularization') {
                latexText1 = '\\displaystyle\\min_{\\theta} c^\\top\\theta + \\tau\\Vert \\theta - \\bar{\\theta}\\Vert_{p}';
                latexText2 = 'A(\\delta_i)\\theta+b(\\delta_i) \\leq 0, \\quad i = 1, \\ldots, N';
                latexText4 = 'A\\theta+b \\leq 0';
                document.getElementById(`${tab}-tau-group`).style.display = 'block';
                document.getElementById(`${tab}-theta-bar-group`).style.display = 'block';
                document.getElementById(`${tab}-p-group`).style.display = 'block';
            } else if (option === 'robust-relaxation') {
                latexText1 = '\\displaystyle\\min_{\\theta,\\zeta_i} c^\\top\\theta + \\rho \\displaystyle\\sum_{i=1}^{N} \\zeta_i';
                latexText2 = 'A(\\delta_i)\\theta+b(\\delta_i) \\leq \\zeta_i, \\quad i = 1, \\ldots, N';
                latexText3 = '\\zeta_i \\geq 0,';
                latexText4 = 'A\\theta+b \\leq 0';
                document.getElementById(`${tab}-rho-group`).style.display = 'block';
            } else if (option === 'robust-regularization-relaxation') {
                latexText1 = '\\displaystyle\\min_{\\theta,\\zeta_i} c^\\top\\theta + \\tau\\Vert \\theta - \\bar{\\theta}\\Vert_{p} + \\rho \\displaystyle\\sum_{i=1}^{N} \\zeta_i';
                latexText2 = 'A(\\delta_i)\\theta+b(\\delta_i) \\leq \\zeta_i, \\quad i = 1, \\ldots, N';
                latexText3 = '\\zeta_i \\geq 0,';
                latexText4 = 'A\\theta+b \\leq 0';
                document.getElementById(`${tab}-tau-group`).style.display = 'block';
                document.getElementById(`${tab}-theta-bar-group`).style.display = 'block';
                document.getElementById(`${tab}-rho-group`).style.display = 'block';
                document.getElementById(`${tab}-p-group`).style.display = 'block';
            }
        } else if (tab === 'qp' || tab === 'sdp') {
            if (option === 'robust') {
                latexText1 = '\\displaystyle\\min_{\\theta} c^\\top\\theta + \\frac{1}{2}\\theta^\\top Q\\theta';
                latexText2 = 'A(\\delta_i)\\theta+b(\\delta_i) \\leq 0, \\quad i = 1, \\ldots, N';
                latexText3 = '';
                latexText4 = 'A\\theta+b \\leq 0';
            } else if (option === 'robust-regularization') {
                latexText1 = '\\displaystyle\\min_{\\theta} c^\\top\\theta + \\frac{1}{2}\\theta^\\top Q\\theta + \\tau\\Vert \\theta - \\bar{\\theta}\\Vert_{p}';
                latexText2 = 'A(\\delta_i)\\theta+b(\\delta_i) \\leq 0, \\quad i = 1, \\ldots, N';
                latexText3 = '';
                latexText4 = 'A\\theta+b \\leq 0';
                document.getElementById(`${tab}-tau-group`).style.display = 'block';
                document.getElementById(`${tab}-theta-bar-group`).style.display = 'block';
                document.getElementById(`${tab}-p-group`).style.display = 'block';
            } else if (option === 'robust-relaxation') {
                latexText1 = '\\displaystyle\\min_{\\theta,\\zeta_i} c^\\top\\theta + \\frac{1}{2}\\theta^\\top Q\\theta + \\rho \\displaystyle\\sum_{i=1}^{N} \\zeta_i';
                latexText2 = 'A(\\delta_i)\\theta+b(\\delta_i) \\leq \\zeta_i, \\quad i = 1, \\ldots, N';
                latexText3 = '\\zeta_i \\geq 0,';
                latexText4 = 'A\\theta+b \\leq 0';
                document.getElementById(`${tab}-rho-group`).style.display = 'block';
            } else if (option === 'robust-regularization-relaxation') {
                latexText1 = '\\displaystyle\\min_{\\theta,\\zeta_i} c^\\top\\theta + \\frac{1}{2}\\theta^\\top Q\\theta + \\tau\\Vert \\theta - \\bar{\\theta}\\Vert_{p} + \\rho \\displaystyle\\sum_{i=1}^{N} \\zeta_i';
                latexText2 = 'A(\\delta_i)\\theta+b(\\delta_i) \\leq \\zeta_i, \\quad i = 1, \\ldots, N';
                latexText3 = '\\zeta_i \\geq 0';
                latexText4 = 'A\\theta+b \\leq 0';
                document.getElementById(`${tab}-tau-group`).style.display = 'block';
                document.getElementById(`${tab}-theta-bar-group`).style.display = 'block';
                document.getElementById(`${tab}-rho-group`).style.display = 'block';
                document.getElementById(`${tab}-p-group`).style.display = 'block';
            }
        }

        document.getElementById(`${tab}-latex`).innerHTML = `<div class="text-center"><p>\\(${latexText1}\\)</p><p>subject to \\(${latexText3}\\)</p><p>\\(${latexText4}\\)</p><p>\\(${latexText2}\\)</p></div>`;
        MathJax.typeset();
    }

    function saveFormValues(tab) {
        const formElements = document.querySelectorAll(`#${tab}-form input, #${tab}-form select`);
        formElements.forEach(element => {
            localStorage.setItem(`${element.id}`, element.value);
        });
    }

    function loadFormValues() {
        const formElements = document.querySelectorAll('input, select');
        formElements.forEach(element => {
            const value = localStorage.getItem(element.id);
            if (value !== null) {
                element.value = value;
            }
        });
    }

    function synchronizeFormValues() {
        const formElements = document.querySelectorAll('input, select');
        formElements.forEach(element => {
            element.addEventListener('change', () => {
                const value = element.value;
                const elementsToUpdate = document.querySelectorAll(`#${element.id}`);
                elementsToUpdate.forEach(el => {
                    el.value = value;
                    localStorage.setItem(el.id, value);
                });
            });
        });
    }
</script>
</body>
</html>